@model MeyawoPortfolio.Models.TblTestimonial

@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Yeni Referans Giriş Paneli</h2>

<form method="post">
    <label>Ad ve Soyad:</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "table table-bordered" })
    <br />
    <label>ImageUrl</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table-bordered" })
    <br />
    <label>Referans Sosyal Medya Url:</label>
    @Html.TextBoxFor(x => x.SocialMediaUrl, new {@class = "table table-bordered" } )
    <br />
    <label>Description</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "table table-bordered" })
    <br />
    <label>Status</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "table table-bordered" })
    <br />
    <button class="btn btn-info">Referansı Kaydet</button>
</form>